@import url("./global.css");

/* --- Footer --- */

.container-footer {
    display: flex;
    gap: 126px;
    padding: 40px 0;
    margin: 63px 0 60px 0;
    justify-content: center;
    background-color: var(--color-black);
}

.footer-content {
    display: flex;
    gap: 69.67px;
    align-items: flex-start;
    justify-content: center;
}

.footer-img-logo {
    display: flex;
    align-items: flex-start;
}

.footer-informations {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer-informations h2 {
    color: var(--color-white);
    font-size: var(--font-size-body1);
    font-weight: var(--font-weight-body1);
    font-family: var(--font-family-secundary);
}

.footer-informations ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
}

.footer-informations ul li a {
    color: var(--color-grey);
    font-size: var(--font-size-body4);
    font-weight: var(--font-weight-body4);
    font-family: var(--font-family-primary);
    text-decoration: none;
}

.footer-informations ul li a:hover{
    color: var(--color-pink);
}

.footer-subscribe {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* width: 385px; */
}

.footer-subscribe h2 {
    color: var(--color-white);
    font-size: var(--font-size-body1);
    font-weight: var(--font-weight-body1);
    font-family: var(--font-family-secundary);
    width: 198px;
}

.footer-subscribe form{
    display: flex;
    justify-content: space-between;
    gap: 5px;
    padding-bottom: 16px;
    border-bottom: 0.5px solid var(--color-d-gray);
    width: 385px;
}

.footer-subscribe form input {
    color: var(--color-white);
    font-size: var(--font-size-body4);
    font-weight: var(--font-weight-body4);
    font-family: var(--font-family-primary);
    background-color: var(--color-black);
    width: 340px;
    height: 40px;
}

.footer-subscribe form input:focus {
  outline: none;
}

.footer-subscribe form input:hover {
  background-color: var(--color-l-black);
}

.footer-subscribe form input::placeholder {
    color: var(--color-grey);
    font-size: var(--font-size-body4);
    font-weight: var(--font-weight-body4);
    font-family: var(--font-family-primary);
}

.footer-subscribe form input::placeholder:hover{
    background-color: var(--color-l-black);
}

.footer-subscribe form button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 360px;
    background-color: var(--color-pink);
    transition: 0.3s;
}

.footer-subscribe form button:hover{
    background-color: rgb(190, 7, 111);
    transform: scale(1.05);
    cursor: pointer;
}