@import url("./global.css");

.section-faq{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding: 40px;
    background-color: var(--color-l-black);
}

.faq-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;    
}

.faq-title span{
    font-family: var(--font-family-primary);
    font-size: var(--font-size-body4);
    font-weight: var(--font-weight-h4); 
    color: var(--color-pink);
    border: 1px solid var(--color-d-gray);
    padding: 12px 20px;
    border-radius: 24px;
}

.faq-title h2{
    font-family: var(--font-family-primary);
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-h2);
    color: var(--color-white);
}

.faq-title p{
    font-family: var(--font-family-secundary);
    font-size: var(--font-size-body2);
    font-weight: var(--font-weight-body2);
    text-align: center;
    width: 572px;
    color: var(--color-grey);
}

.questions{
    display: flex;
    justify-content: space-between;
    width: 1138px;
    background-color: var(--color-black);
    padding: 30px;
    border-bottom: 1px solid var(--color-d-gray);
    border-radius: 10px;
    font-family: var(--font-family-primary);
    font-size: var(--font-size-body4);
    font-weight: var(--font-weight-body4);
    color: var(--color-white);
    transition: 0.3s;
}

.questions:hover{
    background-color: var(--color-d-gray);
}