@import url(./global.css);


.container-testimonial {
    background-color: var(--color-black);
    padding: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.header-testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.header-testimonial span{
    padding: 12px 20px;
    color: var(--color-pink);
    border: 1px solid var(--color-d-gray);
    border-radius: 24px;
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-h4);
}

.header-testimonial h2 {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-h2);
    color: var(--color-white);
}

.header-testimonial p {
    font-family: var(--font-family-secundary);
    font-size: var(--font-size-body2);
    font-weight: var(--font-weight-body2);
    color: var(--color-grey);
    width: 594px;
}

.testimonial-opnion {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    justify-content: center;
    gap: 20px;
}

.testimonial-card {
    background-color: var(--color-l-black);
    padding: 30px;
    border-radius: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 364px;
    transition: 0.3s;
}

.testimonial-card:hover .testimonial-text{
    color: #cfcfcf;
}

.testimonial-card:hover {
    background-color:  rgba(198, 7, 112, 0.359);
    cursor: pointer;
}

.card-header {
    display: flex;
    align-items: center;
    gap: 15px;
}

.card-header h3 {
    color: var(--color-white);
    font-size: var(--font-size-h4);
    font-weight: var(--font-weight-h1);
    font-family: var(--font-family-primary);
}

.stars {
    display: flex;
    gap: 4.57px;
    padding-bottom: 9px;
}

.testimonial-text {
    color: var(--color-grey);
    font-family: var(--font-family-primary);
    font-size: var(--font-size-body4);
    font-weight: var(-font-weight-body4);
    padding-top: 9px;
}